<% 
	let page = htmlWebpackPlugin.options.pageData;
	Object.assign(page, { title: '首页' });
%>

<!-- 头部 -->
<%= require('@/common/header/header.ejs')({ title: page.title }) %>

<!-- 主内容 -->
<div id="${page.code}" class="w">
	<h1>${ page.title }</h1>
	<div>
		<h3>页面跳转</h3>
		<a href="./shopIndex.html">to shop.html</a>
	</div>
	<div>
		<h3>引入图片</h3>
		<img src="${require('../../images/logo.png')}" width="100" alt="logo">
	</div>
	<div>
		<h3>点击事件</h3>
		<button class="btn" id="click">点击</button>
	</div>
	<!-- 引入组件 -->
	<div style="width: 300px;">
		<h3>引入组件</h3>
		<%= require('@/components/empty/empty.ejs')({ appVm: '' }) %>
	</div>
</div>

<!-- 尾部 -->
<%= require('@/common/footer/footer.ejs')() %>
