	<!-- 通用尾部 -->
	</div>
	<footer id="footer" class="footer">
		<div class="w">
			<div class="flt links">
		        <a href="./license.html" class="color-gray">隐私保护申明</a>|
		        <a href="./jobs.html" class="color-gray">招贤纳士</a>|
		        <a href="./about-us.html" class="color-gray">关于我们</a>|
		        <a href="./contact.html" class="color-gray">联系我们</a>
		    </div>
		    <div class="frt copyright">
		        ©&nbsp;2017&nbsp;&nbsp;******有限公司&nbsp;鄂ICP备17022117号
		    </div>
	    </div>
	</footer>

	<script>
		function Page(param){
			param.init();
			// (typeof param.event === 'function') && param.event();
			return param;
		}
	</script>

    <!-- 兼容ie8模板数据渲染 -->
    <!--[if lte IE 8]>
        <script src="/js/es5-shim.min.js"></script>
        <script src="/js/es5-sham.min.js"></script>
        <script src="/js/json3.min.js"></script>
	<![endif]-->

	<!-- 解决ie9没有placeholder的问题 -->
	<!--[if lte IE 9]>
		<script src="/js/placeholder.js"></script>
    <![endif]-->
</body>
</html>
